<!DOCTYPE html>
<!--ng-app指定angular作用范围-->
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="angular-csp.css">
    <!--<style>-->
    <!--[ng-cloak]{-->
    <!--display: none;-->
    <!--}-->
    <!--</style>-->
</head>
<body>
    <div ng-controller="myCtrl">
        <input type="text" ng-model="info" ng-change="valueChange()">
        <ul ng-repeat="item in ary track by $index">
            <li>{{item}}</li>
        </ul>
    </div>
</body>
<!--通过script标签引入angular.js文件-->
<script src="angular.js"></script>
<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.valueChange = function () {
            $http.jsonp('http://suggestion.baidu.com/su?wd='+$scope.info+'&cb=JSON_CALLBACK').success(function (data, status, headers, config) {
                $scope.ary = data.s;
            })
        }
    }]);

</script>

</html>