<!DOCTYPE html>
<!--使用angular的时候需要指定angular的作用范围-->
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>angular中的全局变量</title>

</head>
<body>

<!--遍历数组，将数组中的每个成员的值显示到li标签中-->
<ul ng-init="ary=['小沈阳', '刘能', '赵四', '宋小宝', '潘长江', '赵四']">
    <!--ng-repeat遍历数组，取出数组中的每个成员-->
    <!--需要重复创建哪个标签，就将ng-repeat指令放在哪个标签中即可-->
    <!--$index对应的就是每个成员的下标值-->
    <!--<li ng-repeat="item in ary">{{$index +':'+ item}}</li>-->

    <!--(index, item) in ary 前面就是下标，后面就是对应的值-->
    <!--<li ng-repeat="(index, item) in ary">{{index +':'+ ary[$index]}}</li>-->

    <!--track by遍历数组防止数组中出现重复的元素-->
    <li ng-repeat="item in ary track by $index">{{$index +':'+ item}}</li>
</ul>

</body>
<script src="angular.js"></script>
<script>
    /**
     * 当引入angular.js文件后，会自动生成一个全局变量angular
     * 通过angular可以创建模块(angular一切从模块开始)
     *      通过模块：控制器, 自定义服务, 指令....
     * */
    console.log(angular);
</script>
</html>